# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*~
/Mario/Debug
/Mario/Mario/Debug
/Mario/Mario.suo
/Mario/_ReSharper.Mario